@import "../variables";

h1{
  text-align: center;
  border: 2px solid $grey;
  border-radius: 10px;
}

.wrapper{
  width: 100%;
  position:relative; 
  border-radius: 10px;
  border:2px solid $grey;
  overflow:none;
  display:inline-block;
  padding:10px;
  margin: 0em auto 1em auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.wrapper .textHeader {
  width:100%;
  text-align:center;
  font-size:12px;
  font-weight:normal;
  float:left;  
  text-transform: uppercase;
  font-size: 18px;
  font-weight:bold;
}

.left div label{
  text-align: left;
}

.left div label.main{
  text-align: center;
}

.right div label{
  text-align: right;
}

textarea {
  width:100%;
  height: calc(100% - 30px);
  float:left;
  display:block;
  border:none;    
  outline:none;
  resize: none;
}

textarea:focus{
  outline: none;
}

/*GRID*/
.contGrid, .contGridFluid {
  float:left;
  width:100%;
}
.contGrid div, .contGridFluid div {
  float:left;
}

.contGrid .colGrid1, .contGridFluid .colGrid1 {
  width:100%;
}

.contGrid .colGrid3, .contGridFluid .colGrid3 {
  width: calc(100%/3);
  padding-left: 7.5px;
  padding-right: 7.5px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.fullHeight{
  height: 100vh;
}

.halfHeight{
  height: calc(50hv - 65px);}

.r45Height{
  height: calc(45vh - 65px);
}

.r40Height{
  height: calc(40vh - 65px);
}

.r35Height{
  height: calc(35vh - 65px);
}

.r30Height{
  height: calc(30vh - 65px);
}

.r20Height{
  height: calc(20vh - 65px);
}