<div class="contGrid">

  <div class="contGridFluid">
    <div class="colGrid1">
      <h1>CANVAS PARA EL DISEÑO DE PROYECTOS</h1>
    </div>
  </div>

  <div class="contGridFluid">
    <div class="colGrid3 left">
      <div class="r30Height wrapper">
        <label class="textHeader">Competencias Clave</label>
        <textarea id="keyComp2" name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="r40Height wrapper">
        <label class="textHeader">Estándares de Aprendizaje</label>
        <textarea id="keyComp2" name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="r30Height wrapper">
        <label class="textHeader">Métodos de Evaluación</label>
        <textarea id="keyComp2" name="" id="" cols="30" rows="10"></textarea>
      </div>
    </div>
    <div class="colGrid3 left">
      <div class="r45Height wrapper">
        <label class="textHeader main">Producto Final</label>
        <textarea id="keyComp2" name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="r35Height wrapper">
        <label class="textHeader">Tareas</label>
        <textarea id="keyComp2" name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="r20Height wrapper">
        <label class="textHeader">Difusión</label>
        <textarea id="keyComp2" name="" id="" cols="30" rows="10"></textarea>
      </div>
    </div>
    <div class="colGrid3 right">
      <div class="r40Height wrapper">
        <label class="textHeader">Recursos</label>
        <textarea id="keyComp2" name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="r40Height wrapper">
        <label class="textHeader">Herramientas TIC</label>
        <textarea id="keyComp2" name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="r20Height wrapper">
        <label class="textHeader">Agrupamientos/Organización</label>
        <textarea id="keyComp2" name="" id="" cols="30" rows="10"></textarea>
      </div>
    </div>
  </div>

</div>